html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

/**
 * 🗒️ Layout básico - Flexbox
 * =======================================================================================================
 * 
 *
 * Utilizando os conceitos e propriedades de flexbox, estilize
 * a página index.html a partir deste style.css, de forma a alcançar
 * o layout exibido no arquivo layout.png
 *
 * > Dicas
 * - A propriedade display: flex deve estar no container
 * - Por padrão, os elementos de bloco do HTML tem a altura necessária para exibir
 *   seu conteúdo. Especifique alturas (fixas: height ou mínimas, min-height) para ter maior controle.
 * - Consulte a documentação das propriedades CSS, pesquise por artigos e explicações, em caso de dúvidas
 *   sobre como utilizá-los. 
 * - Altere e acrescente seletores para novas regras CSS à vontade.
 */
main{
	display: flex;
	gap:5vh;
}

header {
	background-color: lightseagreen;
	display: flex;
	height: 24vh;
	justify-content: center;
	padding-top: 12px;
}

aside {
	display: flex;
	background-color: coral;
	justify-content: center;
	width: 600px;
	height: 50vh;
	padding-left: 12px;
}

section {
	display: flex;
	background-color: beige;
	margin-left: auto;
	padding-left: 12px;
	width: 100%;
	height: 50vh;
	justify-content: center;
}

footer {
	background-color: mediumaquamarine;
	display: flex;
	justify-content: center;
	padding-top: 12px;
	height: 24vh;
}