html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #282A36;
}

section{
    margin: auto;
    width: 30%;
}

article.tarefa{
    padding: 35px;
    border-radius: 20px;
    background-color: white;
}

.trabalho{
    background-color: #E899F2;
    border-radius: 15px;
    padding: 0.3rem 0.6rem;
    color: #60136D; 

}

.urgente{
    background-color: #F7E8E9;
    border-radius: 15px;
    padding: 0.3rem 0.6rem;
    color: #C44E56;
}

span{
    color: #60136D;
    font-weight: 600;
    font-size: 11px;
}

.excluir{
    border: none;
    background-color: white ;
}

.corpo h2{
    margin-top: 30px;
}

.corpo p{
    color: rgb(128, 128, 128);
    margin-bottom: 30px;
}

hr{
    border-color: rgb(204, 204, 204);
}

.usuarios{
    display: flex;
}

.usuarios .bolinha{
    background-color: #6BA5F2;
    width: 27px;
    height: 27px;
    border-radius: 10px;
    margin-right: -5px;
}

.usuarios .bolinha2{
    background-color: #CFE6F2;
    width: 27px;
    height: 27px;
    border-radius: 10px;
    border-left: solid 3px white ;
}


footer{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publicacao{
    color: rgb(109, 108, 108)
}


